/*
  FONTS
  Variables
  General
  Header
  Main
  Images
  footer
  Media Queries
  Notes
*/
/*--------->FONTS<--------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@00&display=swap');
@import url('http://fonts.cdnfonts.com/css/harry-potter');

/*--------->Variables<--------------------*/
:root {
  --black: #0D0D0D;
  --dark-grey: #495057;
  --darkest-grey: #343A40;
  --green: #0A5926;
  --red: #d90d0d;
  --white: #fff;
}

/*--------->General Styles<--------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark-grey);
  /*background-image: url(images/background-texture.jpg);*/
  color: var(--white);
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Harry Potter', sans-serif;
  margin: 0 auto;
  /*Max width for the main container*/

}

/*--------->HEADER<--------------------*/
header {
  width: 100%;
  margin: 0 auto;
}

.navigation-bar {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  padding: 10px 50px 0 50px
}

/*LEFT SIDE, LOGO*/
.logo-container {
  display: grid;
  justify-items: start;
  width: 100%;
}

.logo-container img {
  width: 80px;
}

/*RIGHT SIDE, NAV ITEMS*/
.navigation-list {
  display: grid;
  align-items: center;
  justify-items: end;
}

.navigation-list ul li {
  display: inline-block;
  margin-left: 60px;
}

.navigation-list ul li a {
  color: var(--white);
  text-decoration: none;
}

/*NAV LIST WILL SHOW FOR SMALL SCREENS*/
.navigation-list-small {
  display: grid;
  align-items: center;
  grid-column-start: 2;
  justify-items: end;
  display: none;
}

.navigation-list-small li {
  list-style: none;
  text-align: left;
  margin-bottom: 15px;
}

.navigation-list-small li a {
  color: var(--white);
  text-decoration: none;

}

.menu-icon-container {
  display: none;
}


.cover-container{
  margin-top: 20px;
  max-width: 100%;
  height: 250px;
}

.cover-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*--------->Menu Options<--------------------*/
.menu-container{
  display: grid;
  /* justify-content: center; */
  margin: 60px;
}

.options-items-container{
  display: grid;
  grid-template-columns: 50% 50%;
}

.item-container{
  margin-right: 40px;
}

.item-name-price{
  display: grid;
  grid-template-columns: 50% 50%;
}

.item-price{
  text-align: end;
}

/*--------->Footer<--------------------*/
/*--------->Media Queries<--------------------*/
/*This rule is just for the projects to adapt to screen better*/
@media (max-width: 1086px) {}

@media (max-width: 929px) {
  .navigation-list {
    display: none;
  }

  .menu-icon-container {
    display: grid;
    justify-items: end;
    align-items: center;

  }

  .menu-icon-container img {
    width: 60px;
  }

  .menu-icon-container img:hover {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {}

@media (max-width: 640px) {}

/*--------->NOTES<--------------------*/
/*
- Para centrar algo horizontalmente en navegadores modernos, usa display:
 flex; justify-content: center;

- Sin embargo, en navegadores antiguos como IE8-9, flexbox no está disponible.
Para poder centrar un elemento horizontalmente con respecto a su contenedor,
usa margin: 0 auto;

*/