/*
  FONTS
  Variables
  General
  Header
  Main
  Images
  footer
  Media Queries
  Notes
*/
/*--------->FONTS<-----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@00&display=swap');

/*--------->Variables<-----------*/
:root {
  --black: #0D0D0D;
  --dark-grey: #495057;
  --darkest-grey: #343A40;
  --green: #0A5926;
  --red: #d90d0d;
  --white: #fff;
}

/*--------->General Styles<-----------*/
*{
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--dark-grey);
  /*background-image: url(images/background-texture.jpg);*/
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  /*Max width for the main container*/
  
}

/*--------->HEADER<-----------*/
header{
  width: 100%;
  margin: 0 auto;
}
.navigation-bar{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  padding: 5px 40px 0 40px
}
.navigation-list{
  display: grid;
  align-items: center;
}

.navigation-list ul li{
  display: inline-block;
  margin-right: 10%;
}

.navigation-list ul li a{
  color: var(--white);
  text-decoration: none;
}

.logo-container{
  display: grid;
  justify-items: end;
  width: 100%;
}
.logo-container img{
  width: 80px;
}
/*--------->Main<-----------*/

/*--------->Footer<-----------*/
/*--------->Media Queries<-----------*/
/*This rule is just for the projects to adapt to screen better*/
@media (max-width: 1086px) {}

@media (max-width: 768px) {}

@media (max-width: 640px) {}

/*--------->NOTES<-----------*/
/*
- Para centrar algo horizontalmente en navegadores modernos, usa display:
 flex; justify-content: center;

- Sin embargo, en navegadores antiguos como IE8-9, flexbox no está disponible.
Para poder centrar un elemento horizontalmente con respecto a su contenedor,
usa margin: 0 auto;

*/