/*
  FONTS
  Variables
  General
  Header
  Main
  Images
  footer
  Media Queries
  Notes
*/
/*--------->FONTS<-----------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@00&display=swap');

/*--------->Variables<-----------*/
:root {
  --black: #0D0D0D;
  --red: #d90d0d;
  --green: #0A5926;
}

/*--------->General Styles<-----------*/
body {
  background-color: var(--darkest-grey);
  /*background-image: url(images/background-texture.jpg);*/
  color: var(--white);
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  /*Max width for the main container*/
  max-width: 100%;
  text-align: center;
}


/*--------->HEADER<-----------*/

/*--------->Main<-----------*/

/*--------->Footer<-----------*/
/*--------->Media Queries<-----------*/
/*This rule is just for the projects to adapt to screen better*/
@media (max-width: 1086px) {}

@media (max-width: 768px) {}

@media (max-width: 640px) {}

/*--------->NOTES<-----------*/
/*
- Para centrar algo horizontalmente en navegadores modernos, usa display:
 flex; justify-content: center;

- Sin embargo, en navegadores antiguos como IE8-9, flexbox no está disponible.
Para poder centrar un elemento horizontalmente con respecto a su contenedor,
usa margin: 0 auto;

*/