<footer>
    <div class="footer-container">
      <div class="footer-social">
        <p>Síguenos en redes sociales</p>
        <ul>
          <li><a target="_blank" href="https://www.facebook.com/Hamburguesas-El-VOLDI-103791698474205/?tn-str=k*F"><i class="fa fa-facebook"></i></a></li>
          <li><a target="_blank" href="https://www.instagram.com/hamburguesas_el_voldi/"><i class="fa fa-instagram"></i></a></li>
          <li><a target="_blank" href="https://wa.me/5218715642567?text=Quisiera%20hacer%20un%20pedido"><i class="fa fa-whatsapp"></i></a></li>
        </ul>
      </div>
    </div>

  </footer>