{% load static %}
<!--Header-->
<header>
    <!--Navigation Bar-->
    <nav class="navigation-bar">
        <div class="logo-container">
            <img src="{% static 'images/logo-main.png' %}" alt="Voldemort with hand to the front">
        </div>

        <div class="navigation-list">
            <ul class="navigation-items">
                <li><a href="">Menú</a></li>
                <li><a href="">Acerca de</a></li>
                <li><a href="">Contáctanos</a></li>
            </ul>
        </div>

        <div class="navigation-list-small" id="navigation-list-small-js">
            <ul class="navigation-items">
                <li><a href="">Menú</a></li>
                <li><a href="">Acerca de</a></li>
                <li><a href="">Contáctanos</a></li>
            </ul>
        </div>

        <div class="menu-icon-container">
            <img src="{% static 'images/menu-icon.png' %}" alt="Voldemort with hand to the front">
        </div>

    </nav>
</header>