{% load static %}
<!--Header-->
<header>
    <!--Navigation Bar-->
    <nav class="navigation-bar">
        <div class="logo-container">
            <img src="{% static 'images/logo-main.png' %}" alt="Voldemort with hand to the front">
        </div>

        <div class="navigation-list">
          <ul class="navigation-items">
            <li><a href="">Menú</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <span><i onclick="dropDownFunction()" class="dropbtn fa fa-bars"></i></span>
          <div id="myDropdown" class="dropdown-content">
            <a href="#home">Inicio</a>
            <a href="#about">Menu</a>
            <a href="#contact">Información</a>
          </div>
        </div>

    </nav>
</header>